.logo {
  position: absolute;
  height: 5%;
  padding-left: 0.5%;
  padding-bottom: 0.5%;
}

header {
 text-align: center;
}

h1{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
  color: #2A2A2A;
  text-transform: uppercase;
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display:none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

body {
  background-image: url("../images/Smoke\ BG.jpg");
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {

  display: block;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  
}

li a:hover {
  background-color: #111;
  color: aqua;
}

.subHeading {
text-align: center;
border-bottom: 2px solid black;
width: 300px;
margin:  50px auto;
}

.heroGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

#categoryGrid {
  margin: 0px 5px;
  display: grid;
  grid-template-rows: 300px 300px 300px 300px;
  grid-template-columns: 2fr 2fr;
  grid-gap: 10px;
  grid-template-areas: 
  "uxDesign motionGraphics"
  "uxDesign motionGraphics" 
  "illustration branding"
  "illustration branding";
}

#uxDesign {
  grid-area: uxDesign;
  background-image: url("../images/Presto_AppleWatch-Prototype.gif");
}
#illustration {
  grid-row: illustration;
  background-image: url("../images/Illustration.jpg");
}
#branding {
  grid-area: branding;
  background-image: url("../images/Branding.jpg");
}
#motionGraphics {
  grid-area: motionGraphics;
  background-image: url("../images/Motion\ Graphics.jpg");
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid aqua;
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(0,0,0,0.7);
  margin: 0px 0px 0px 0px;
  padding: 15px;
  height: 25px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  border-bottom: 5px solid aqua;
  text-transform: uppercase;
  text-align: center;
}


footer {
  margin: 0px 0px 0px 0px;
  padding: 15px;
  height: 25px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  text-align: center;
}


@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
  #heroGrid {
    grid-template-areas:
    "uxDesign illustration"
    "branding motionGraphics";
  }
  #categoryGrid {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "uxDesign"
      "illustration"
      "branding"
      "motionGraphics"
    ;
  }
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {display:block;}

